{% extends "lifestream/base.html" %}

{% block title %}{{ lifestream.title }}{% endblock %}

{% block content %}
<h1>{{ lifestream.title }}</h1>
<table>
  {% if object_list %}
  <tbody>
    {% for item in object_list %}
    <tr>
      <td>
        <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
        {{item.date}}
        <p>
          {% if item.clean_content %}
            {{ item.clean_content|slice:":100" }}
          {% else %}
            &nbsp;
          {% endif %}
        </p>
      </td>
    </tr>
    {% endfor %}
  <tbody>
  {% endif %}
</table>

<br/>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_objs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
